development: &base
  secret_token: 'you should change it to something strong (for example to output of `rake secret`)'
  map:
    init:
      lat: 54.5302
      lng: 36.2597
      zoom: 12
    bbox:
      min_lat: 54.3677585240684
      min_lng: 35.859375
      max_lat: 54.7753458593645
      max_lng: 36.5625
    min_zoom: 10
    max_zoom: 18
    styles:
      - embossed
      - simple
    style_base: 'http://{s}.kalugamap.ru/tiles'

test: *base
production: *base
