development: &base
  secret_token: 'you should change it to something secret (for example to output of `rake secret`)'
  map:
    init:
      lat: 54.5302
      lng: 36.2597
      zoom: 12
    min_zoom: 10
    max_zoom: 18
    styles:
      - default
      - light

test: *base
production: *base
