//= require_self
//= require_tree .

$navbarBackground: #333
$navbarBackgroundHighlight: #666
$navbarHeight: 40px

$sidebarBackground: #fff
$sidebarWidth: 310px
$sidebarPadding: 10px

@import 'bootstrap'

html, body
  width: 100%
  height: 100%
  padding: 0
  margin: 0

.info-block
  margin: 10px 0px

  h4
    margin: 7px 0x

#search_form
  .search-label
    color: #aaa
    float: left
    padding: 5px
    width: 39px

#sidebar_handle
  @include border-radius(0px 7px 7px 0px)
  background: rgba(0, 0, 0, 0.25)

  position: absolute
  top: $navbarHeight + 150px
  left: 0px
  width: 15px
  height: 28px
  padding: 5px 5px 5px 0px
  z-index: 90

  div
    @include border-radius(0px 4px 4px 0px)
    background: white
    padding: 5px 0px

  a
    cursor: pointer

    &:hover
      color: red

#sidebar
  position: absolute
  top: $navbarHeight
  bottom: 0px
  left: 0px
  width: $sidebarWidth - 2*$sidebarPadding - 1px
  padding: $sidebarPadding
  border-right: 1px solid $navbarBackgroundHighlight
  z-index: 100
  background: $sidebarBackground
  overflow-y: scroll

  h3
    margin: 10px 0

  .category.empty
    a,
    a:hover
      color: #ccc
      text-decoration: none

#content
  position: absolute
  top: $navbarHeight
  bottom: 0px
  left: 0
  right: 0px

#content.with-sidebar
  .leaflet-left
    left: $sidebarWidth

ul.search-results,
ul.object-list
  list-style-type: none
  padding: 0px
  margin: 0px

  li.object,
  li.search-result
    display: block
    margin-bottom: 10px
    padding-left: 35px
    min-height: 40px

    a
      display: block

ul.object-list
  margin-top: 10px

.pagination
  margin: 5px 0

  a
    padding: 0 10px
    line-height: 26px
    border: none

dl.dl-horizontal
  dt
    clear: left
    float: left
    text-align: right
    width: 120px
  dd
    margin-left: 130px

ul.categories
  list-style-type: none
  padding: 0px
  margin: 0px

  li
    display: block
    float: left
    height: 20px
    padding: 10px 10px 10px 40px

.clear-left
  clear: left
