- if @query
  Search results for #{@query}

  %ul
    - @buildings.each_with_distance do |obj, distance|
      - center = obj.center

      %li.result{ 'data-lat' => center.y, 'data-lng' => center.x, 'data-zoom' => 14 }
        %a.name{ :href => '#' }= obj.name

        - if obj.respond_to?(:address) && obj.address
          %span.address= obj.address

        %span.distance= distance

- else
  No query - no results
