- keys = ['website', 'phone', 'fax']
- tags = model.tags
- if keys.any?{|k| tags[k]}
  .info-block.contacts
    %h4= t "info.blocks.contacts"

    - keys.each do |key|
      - if tags[key]
        %b= t "info.keys.#{key}"
        = tags[key]
        %br
