%ul
  - categories.each do |cat, children|
    %li.category{ 'data-id' => cat.id }
      = link_to cat.name, "#categories=#{cat.id}"
      %span.count= cat.object_count

      = render 'layouts/categories', :categories => children
