.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid

      %a#sidebar_toggle.pull-left{ :href => "#", :onclick => 'return false' } S

      %form#search_form.navbar-search.pull-left{ :action => "/" }
        %input.search-query{ :type => "text", :placeholder => "Search", :name => "q", :value => params[:q] }

      %ul.nav
        %li.divider-vertical
        = nav_link "Карта", root_url
