.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid

      %form#search_form.navbar-search.pull-left{ :action => "/" }
        .search-label Поиск:
        %input.search-query{ :type => "text", :placeholder => "Search", :name => "q", :value => params[:q] }

      %ul.nav
        %li.divider-vertical
        %li= page_link :about
        %li= page_link :credits
