!!!5
%html
  %head
    %title Kaluga map
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid

          %a#sidebar_toggle.pull-left{ :href => "#" } S

          %form.navbar-search.pull-left
            %input.search-query{ :type => "text", :placeholder => "Search" }

          %ul.nav
            %li.divider-vertical
            %li.active
              %a{ :href => "#" } Map
            %li
              %a{ :href => "#" } About

      #content.with-sidebar
        = yield

      #sidebar
        %p Search results

