!!!5
%html
  = render 'layouts/header'

  %body
    = render 'layouts/navbar'

    #content.map
      = yield

    #sidebar{ :style => "left: -400px" }
      %h3= raw(t("search.results.header", :query => '<span class="query"></span>'))

      .results

      .pagination
